<h1>Edit <%= @adventure.title %></h1>

<%= form_for @adventure do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %><br />
  <%= f.text_field :author, placeholder: 'Author' %><br />
  <%= f.submit %>
<% end %><br /><br />

<%= link_to 'All Adventures', root_path %>