<h1> choose your own adventure </h1>

<p><strong>locally made adventures:</strong></p>

<% @adventures.each do |adventure| %>

  <li><%= link_to adventure.title, adventure_page_path(adventure.id, adventure.pages.find_by_name(:start).id) %></li>  


<% end %>

<p><strong> adventures from other servers </strong></p>

    <% @adventures.each do |adventure| %>
      <% if adventure.library_id %>
      <a href="<%=adventure_path(adventure)%>"><li><%= adventure.title %></li></a>
      <% end %>
    <% end %>
<!-- if...needs library_id -->

<p><strong> adventures with no "start" page, aka bastards </strong></p>

<h2> add a library url to scrape: </h2>

<%= form_for @library do |f| %>
	<%= f.label :URL %>
	<%= f.text_field :URL , :placeholder => "enter url", :autofocus => true %>
	<%= f.submit %>
<% end %>


<li><%= link_to 'new local adventure', new_adventure_path, :class => 'btn btn-primary' %></li>
