<center><h1>Welcome to Adventures</h1></center>
<br>

<h3>Local Adventures: </h3>
  <ul>
    <% @adventures.each do |adventure| %>
      <% if adventure.library_id.nil? %>
        <a href="<%=adventure_path(adventure)%>"><li><%= adventure.title %></li></a>
   		<li>Created <%= timeago(adventure.created_at) %> by <%= adventure.author %></li></h6>
  <% else %>
  <% end %>
 

    <% end %>
  </ul>

<h3>Other Adventures: </h3>
  <ul>
    <% @adventures.each do |adventure| %>
      <% if adventure.library_id %>
      <li><a href="<%=adventure_path(adventure)%>"><%= adventure.title %></a></li>
      <li>Uploaded <%= timeago(adventure.created_at) %> from <%= adventure.author %></li></h6>
      <% end %>
    <% end %>
  </ul>


<p> Add your library for scraping:</p>
<%= form_for @library do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url, :autofocus => true, :placeholder => "URL" %>
  <%= f.submit %>
<% end %>


<%= link_to "New adventure", new_adventure_path, :class => 'btn btn-success' %>

<!-- Display all of the adventures and have a link to each adventure with its pages -->


