<h1> <%= @adventure.title %> </h1>

<p>by: <%= @adventure.author %><br /></p>

<%= link_to 'Edit', edit_adventure_path(@adventure) %><br />
<%= link_to 'Delete', adventure_path(@adventure), method: 'delete', data: { confirm: "Are you sure?" } %><br /><br />

<%= link_to 'All Adventures', root_path %>