<br /><%= form_for ([@adventure, @page]) do |f| %>
  <%= f.text_area :text, placeholder: 'What Happens Next?' %><br /><br />
  <%= f.text_field :name, placeholder: 'Name This Part' %><br /><br />
  <button type="submit" class="btn btn-primary">Keep it Going</button> 
<% end %><br /><br />

<h3>OR, End your Adventure</h3>
<%= form_for ([@adventure, @page]) do |f| %>
  <%= f.hidden_field :name, value: "end" %><br />
  <%= f.text_area :text, placeholder: "How does it end?" %><br /><br />
  <button type="submit" class="btn btn-danger">End the Adventure</button>  
<% end %>
