<% content_for :body_type do%>
pagesedit<% end %>

<div class="pagesnewdiv">
	<h1><%= @adventure.title %> </h1>
		<h4>Written By: <%= @adventure.author %> </h4>
<br />
	 	<% @adventure.pages.each do |pages| %>
	 		<p>Page Name: <b><%= @adventure.pages.name %></b></p>
	 		<%= simple_format(linkify_page(pages)) %><br />
	 	<% end %>

	 	<%= linkify_page(@page.first).html_safe %>
</div>

	<h4>Edit A New Page:</h4>
	<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
	 <%= bootstrap_form_for :page do |f| %>
	   <%= f.text_field :name, placeholder: "start" %>
	   <%= f.submit %>
	 <% end %>
	</div>

	    <!--   params: {title: params[:title], message: params[:message]})  -->