<h1>new page <%= @adventure.title %></h1>  <!-- adventure.tite? -->

<%= form_for([@adventure, @page]) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "name" %>
		<br>
    <%= f.label :text %>
    <%= f.text_field :texst, placeholder: "text" %>
    <%= f.submit :class=>"btn btn-success" %>
<% end %>


