<h1><%= @adventure.title %></h1>
<p>Written by: <%=@adventure.author%></p>

<% @pages.each do |page| %>
  <br>
  <%=page.text%> 

	<br>
	<br>
  <%= link_to('next link 1') %>
  <br>
  <%= link_to('next link 2') %>
<% end %>



<%= sanitize linkify_page(@page) %>