<!DOCTYPE html>
<html>
<head>
  <title>AdventureLibrary</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header><ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li><a href="<%= libraries_path %>">Libraries</a></li>
  <li><a href="<%=  %>">Urls</a></li>
  <li><a href="<%=  %>">Adventures</a></li>
  <li><a href="<%=  %>">Pages</a></li>
</ol></header>
<body>
  <div class="container">
  
  <%= yield %>

  </div>
</body>
</html>
