<!DOCTYPE html>
<html>
<head>
  <title>Adventure_Library</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<header><ol class="breadcrumb">
  <li><a href="<%= root_path %>">Home</a></li>
  <li><a href="<%= libraries_path %>">Libraries</a></li>
  <!-- <li><a href="<%#=  %>"></a></li>
  <li><a href="<%#=  %>"></a></li>
  <li><a href="<%#=  %>"></a></li> -->
</ol></header>
<body>
  <div class="container">
  
  <%= yield %>

  </div>
</body>
</html>
